# Copyright (c) 2023 The ZMK Contributers
# SPDX-Licencse-Identifier: MIT

if BOARD_IBM_MODELM_V4

config BOARD
	default "modelm_v4"

config ZMK_KEYBOARD_NAME
    default "IBM Model M4"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

config ZMK_BLE
    default y

config ZMK_USB
    default y

config ZMK_RTT_LOGGING
    default n

config LOG_BACKEND_SHOW_COLOR
    default n

config LED
    default y

config LED_LOCK_STATUS
    bool "Enable LED lock indicators, such as Caps lock, Num Lock ..."
    default n

config PWMLED_LOCK_STATUS
    depends on !LED_LOCK_STATUS
    bool "Enable PWM LED lock indicators, such as Caps lock, Num Lock ..."
    default n

config INDICATOR_LED_STATUS
    bool "Enable blink LED status indicator for showing battery and output status"
    default n

config INDICATOR_LED_STATUS_SEQ
    depends on !INDICATOR_LED_STATUS
    bool "Enable blink LED sequences for showing battery, active layer and output status"

if INDICATOR_LED_STATUS || INDICATOR_LED_STATUS_SEQ
config LED
    default y

config INDICATOR_LED_ON_TIME_MS
    int "Indicator LED ON state duration in ms"
    default 300

config INDICATOR_LED_OFF_TIME_MS
    int "Indicator LED OFF state duration in ms"
    default 150

config INDICATOR_LED_SHOW_LAYER_CHANGE
    bool "Indicate highest active layer on each layer change with a sequence of blinks"
        default y

config INDICATOR_LED_LAYER_PERSISTENCE_THRESHOLD
    int "At which layer number (starting from 0) should the LED stay lit after its blink sequence, to indicate a non-default layer is still active."
        default 200

config INDICATOR_LED_SHOW_BATTERY_ON_BOOT
    bool "Indicate battery level on startup with a sequence of blinks"
        default y

config INDICATOR_LED_SHOW_CRITICAL_BATTERY_CHANGES
    bool "Blink once every time battery level changes when below critical level"
        default y

config INDICATOR_LED_SHOW_BLE
    bool "Indicate BLE status on startup and profile change with a sequence of blinks"
        default y

config INDICATOR_LED_SHOW_PERIPHERAL_BLE
    bool "Indicate on the peripheral half of a split what its connection status is, with a sequence of blinks."
        default y
    depends on INDICATOR_LED_SHOW_BLE
        help
            Requires INDICATOR_LED_SHOW_BLE to be enabled.

config INDICATOR_LED_SEQ_INTERVAL_MS
    int "Minimum wait duration between blink sequences in ms"
    default 500

config INDICATOR_LED_BATTERY_LEVEL_HIGH
    int "High battery level percentage"
    default 80

config INDICATOR_LED_BATTERY_LEVEL_LOW
    int "Low battery level percentage"
    default 20

config INDICATOR_LED_BATTERY_LEVEL_CRITICAL
    int "Critical battery level percentage"
    default 5

config INDICATOR_LED_BATTERY_HIGH_BLINK_REPEAT
    int "High battery level blink repeat count"
    default 2

config INDICATOR_LED_BATTERY_LOW_BLINK_REPEAT
    int "Low battery level blink repeat count"
    default 4

config INDICATOR_LED_BATTERY_CRITICAL_BLINK_REPEAT
    int "Critical battery level blink repeat count"
    default 6

endif # I# INDICATOR_LED_STATUS || INDICATOR_LED_STATUS_SEQ

config ANTIGHOST
    bool "Enable basic anti-ghost support"
    default n

config ANTIGHOST_V2
    bool "Enable advanced anti-ghost support"
    default n

config USE_DT_CODE_PARTITION
    default y

#config ZMK_KSCAN_MATRIX_WAIT_BETWEEN_OUTPUTS
#    default 0

#config ZMK_KSCAN_MATRIX_WAIT_BEFORE_INPUTS
#    default 5

endif # BOARD_IBM_MODELM_V4