# Copyright (c) 2023 The ZMK Contributers
# SPDX-Licencse-Identifier: MIT

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_IBM_MODELM=y

# Enable deep sleep
CONFIG_ZMK_SLEEP=y

# Enable MPU
CONFIG_ARM_MPU=y

# system setup
CONFIG_ARM_MPU=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y

# enable GPIO
CONFIG_GPIO=y
CONFIG_GPIO_AS_PINRESET=y
CONFIG_PINCTRL=y

# config ZMK
CONFIG_ZMK_USB=y
CONFIG_ZMK_BLE=y
CONFIG_ZMK_BATTERY_REPORTING=y
CONFIG_ZMK_BATTERY_REPORT_INTERVAL=120
CONFIG_ZMK_BLE_PASSKEY_ENTRY=y
CONFIG_ZMK_BLE_EXPERIMENTAL_FEATURES=y
CONFIG_ZMK_BLE_EXPERIMENTAL_CONN=y

# Windows Battery Reporting Fix
CONFIG_BT_GATT_ENFORCE_SUBSCRIPTION=n

# LED indicators
CONFIG_LED=y
CONFIG_ZMK_HID_INDICATORS=y

# ZMK Studio support
# CONFIG_ZMK_STUDIO_LOCKING=n
# CONFIG_ZMK_STUDIO=y

# uncomment to enable USB logging / debugging
# CONFIG_ZMK_USB_LOGGING=y
# CONFIG_ZMK_LOG_LEVEL_DBG=y
# CONFIG_LOG_PROCESS_THREAD_STARTUP_DELAY_MS=3000

